{{ define "main" }}
<div class="db">
  <div class="da">
    <img class="di" decoding="async" src="{{ "/img/david4.jpg" | absURL }}"></img>
    <div class="dn">
      <h1 class="dad-name-splash-h1__name">David Adrian</h1>
      <address class="dad-name-spash-address">
        <a class="dad-name-splash-address__link" href="mailto:davidcadrian@gmail.com">davidcadrian@gmail.com</a>
        <br />
        <a class="dad-name-splash-address__link" href="https://twitter.com/davidcadrian">@davidcadrian</a>
      </address>
      {{- partial "nav.html" }}
    </div>
  </div>
  <div>
  {{ with .Param "title" }}
    <h1>{{ . }}</h1>
  {{ end }}
  {{ .Content }}
  </div>
</div>
{{ end }}
