{{ define "rss" }}
  {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
{{ end }}

{{ define "page-css" }}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" />
<style>
figure.df {
  margin: 8px;
}
figure.df > img {
  height: auto;
  max-width: 100%;
}
figure.df > figcaption {
  margin-left: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
}
figure.df > figcaption > h4 {
  margin: 0px;
}
blockquote {
  background: #f9f9f9;
  border-left: 2px solid #000;
  padding: 0 0 0 10px;
  font-style: italic;
}
.highlight > pre {
  padding: 8px
}
code, code > span {
  font-family: 'Source Code Pro', Courier, monospace;
}
</style>
{{ end }}

{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
  <article>
    <header>
      {{ with .CurrentSection }}
      <p>
        <a href="{{.Permalink}}">{{with .Title }}{{. | upper }}{{end}}</a>
      </p>
      {{ end }}
      <h1>
        {{- .Title -}}
      </h1>
        <small>{{- .Date.Format "January 2, 2006" -}}</small>
      </time>
    </header>
    <main>
      <div class="dp">
        {{ .Content }}
      </div>
    </main>
  </article>

  {{- partial "footer-nav.html" . -}}
{{ end }}
