.row
  .col-xs-4.text-right
    i Email:
  .col-xs-8.text-left
    a(href='mailto:davadria@umich.edu') davadria@umich.edu
    br
    a(href='mailto:davidcadrian@gmail.com') davidcadrian@gmail.com
.row
  .col-xs-4.text-right
    i Twitter:
  .col-xs-8.text-left
    a(href='https://twitter.com/davidcadrian') @davidcadrian
.row
  .col-xs-4.text-right
    i GitHub:
  .col-xs-8.text-left
    a(href='https://github.com/dadrian') dadrian   
.row 
  .col-xs-4.text-right
    i Keys:
  .col-xs-8.text-left
    a(href='https://keybase.io/dadrian') Keybase
    br
    a(href='/.well-known/davidcadrian.asc') PGP
    br
    a(href='/.well-known/dadrian.pub') SSH
    br
    a(href='/.well-known/davidcadrian-otr-fingerprint.txt') OTR
