h3 Contact Information
.well
  address
    strong School Email
    br
    a(href='mailto:davadria@umich.edu') davadria@umich.edu
  address
    strong Personal Email
    br
    a(href='mailto:davidcadrian@gmail.com') davidcadrian@gmail.com
  address
    strong Github Profile
    br
    a(href='https://github.com/dadrian') dadrian
  address
    strong LinkedIn
    br
    a(href='http://www.linkedin.com/in/dadrian/') Public Profile
  address
    strong Twitter
    br
    a(href='https://twitter.com/thatDavidAdrian') @thatDavidAdrian
  address
    strong Keybase
    br
    a(href='https://keybase.io/dadrian') dadrian
  address
    strong Public Keys
    br
    a(href='/.well-known/davidcadrian.asc') PGP
    br
    a(href='/.well-known/dadrian.pub') SSH
