extends layout

block content
  .row
    .span3.border-right.padding

      include includes/contact
      
    .span9
      hr
      - each post in posts
        .row
          .span9
            include includes/preview