extends layout

block content
  .row
    .col-md-9
      .row
        h1.text-center Blog
        hr
      - each post in posts
        .row
          include includes/preview
      h1.text-center
        small  Page #{page}
    .col-md-3.padding

      include includes/contact
