extends layout



block content
  .row.padded-top.border-top
    .col-md-4
      .row
        .col-md-10.col-md-offset-1.border-bottom.padded-bottom
          img(src='/img/david3.jpg', class='img-responsive img-rounded')
      .row.padded-top
          include includes/contact
    .col-md-8.border-left
      p
        :markdown
          I am a [Computer Science Engineering](http://cse.eecs.umich.edu) Ph.D.
          candidate at the University of Michigan. I am advised by [Professor J.
          Alex Halderman](https://jhalderm.com).  My research interests center
          around computer security and cryptography. Recently, I've been using
          measurement-based approaches to answer computer security research
          questions, correct security problems, and identify new vulnerabilites.
          I helped discover the [Logjam](https://weakdh.org) and
          [DROWN](https://drownattack.com) attacks on TLS. I spent last summer
          interning at Google on the [Chrome
          Security](https://www.chromium.org/Home/chromium-security)
          [Enamel](https://www.chromium.org/Home/chromium-security/enamel) team,
          where I attempted to make [OCSP suck
          less](https://docs.google.com/document/d/1aISglJIIwglcOAhqNfK-2vtQl-_dWAapc-VLDh-9-BE/edit).
          Last fall, I was a lecturer for the undergrad computer security course
          at Michigan. 
      p
        :markdown
          I received a Bachelor's Degree in Computer Science Engineering with a
          [Mathematics Minor](http://www.math.lsa.umich.edu) from the University
          of Michigan in 2014, and a Master's Degree in 2016. I maintain
          [ZMap](https://zmap.io), created
          [ZGrab](https://github.com/zmap/zgrab), and helped create the [Censys
          Search Engine](https://www.censys.io). A long time ago, I interned as
          a software engineer at [Duo Security](http://www.duosecurity.com), and
          worked for the [Computer-Aided Engineering
          Network](http://www.engin.umich.edu/caen/) in the networking
          department. During various semesters, I was a teaching assistant
          for most of the security and introductory computer science courses at
          Michigan. In my spare time I also play drums, piano, [video
          games](http://www.lolking.net/summoner/na/26789205), cook, and [go beer
          tasting](https://untappd.com/user/dadrian).

      p
        :markdown
          I grew up in Chelsea, Michigan. I attended Chelsea High School, where
          I spent a lot of time playing music in the band room, connecting
          unauthorized devices to the school's Novell Netware intranet, and
          bypassing network access restrictions.

      p
        :markdown
          I can be reached at [davadria@umich.edu](mailto:davadria@umich.edu),
          or [davidcadrian@gmail.com](mailto:davidcadrian@gmail.com). Follow me
          on Twitter [@davidcadrian](https://twitter.com/davidcadrian).
