extends layout



block content
  .row.padded-top.border-top
    .col-md-4
      .row
        .col-md-10.col-md-offset-1.border-bottom.padded-bottom
          img(src='/img/david2.jpg', class='img-responsive img-rounded')
      .row.padded-top
          include includes/contact
    .col-md-8.border-left
      p
        :markdown
          I am a [Computer Science Engineering](http://cse.eecs.umich.edu) Ph.D.
          student at the University of Michigan. I received a Bachelor's Degree
          in Computer Science Engineering with a [Mathematics
          Minor](http://www.math.lsa.umich.edu) from the University of Michigan
          in 2014. I work with [Professor J. Alex
          Halderman](https://jhalderm.com). Recently, I helped discover the
          [DROWN attack on TLS](https://drownattack.com).
          
      p
        :markdown
          I am interested in computer security and privacy, as well as computer
          networks, distributed systems, and cryptography.  Recently, I've been
          using measurement-based approaches to answer computer security
          research questions. As part of this, I maintain
          [ZMap](https://zmap.io) and [ZGrab](https://github.com/zmap/zgrab),
          and helped create the [Censys Search Engine](https://www.censys.io).
          Previously, I interned as a software engineer at [Duo
          Security](http://www.duosecurity.com), and worked for the
          [Computer-Aided Engineering Network](http://www.engin.umich.edu/caen/)
          in the networking department. During various semesters, I have been a
          teaching assistant for EECS 280: Introduction to Data Structures, EECS
          281: Introduction to Algorithms, EECS 388: Introduction to Computer
          Security, and EECS 588: Advanced Computer Security. In my spare time I
          also play drums, piano, [video
          games](http://www.lolking.net/summoner/na/26789205), and [go beer
          tasting](https://untappd.com/user/dadrian).

      p
        :markdown
          I grew up in Chelsea, Michigan, and attended Chelsea High School.
          While there, I spent a lot of time playing music in the band room,
          connecting unauthorized devices to the school's Novell Netware
          intranet, and bypassing network access restrictions.

      p
        :markdown
          I can be reached at [davadria@umich.edu](mailto:davadria@umich.edu),
          or [davidcadrian@gmail.com](mailto:davidcadrian@gmail.com). Follow me
          on Twitter [@davidcadrian](https://twitter.com/davidcadrian).
