extends layout



block content
  .row#intro
    .span4
      img(src='/img/david2.jpg')
    .span8.border-left
      h3 Welcome!
      p
        :markdown
          I am a fourth-year student in the [Computer Science
          Engineering](http://cse.eecs.umich.edu) program at the University of
          Michigan, with a [Mathematics Minor](http://www.math.lsa.umich.edu).
          I am originally from Chelsea, Michigan. Currently, I am an intern at
          [Duo Security](http://www.duosecurity.com). Previously, I have worked
          for [Professor Robert Dick](http://robertdick.org) on the [Whisper
          Project](http://whispercomm.org), and the [Computer-Aided
          Engineering Network](http://www.engin.umich.edu/caen/) in the
          networking department. I am interested in computer security and
          computer graphics, and the overlap of these fields into distributed
          systems, machine learning, and embedded systems. In my spare time I
          also play drums, piano, and [video
          games](http://www.lolking.net/summoner/na/26789205).

      p
        :markdown
          Before my undergraduate studies, I attended Chelsea High School, in
          Chelsea, Michigan. While there, I spent a lot of time playing music
          in the band room, connecting unauthorized devices to the school's
          Novell Netware intranet, and bypassing network access restrictions.

      p
        :markdown
          I can be reached at [davadria@umich.edu](mailto:davadria@umich.edu),
          or [davidcadrian@gmail.com](mailto:davidcadrian@gmail.com).
  .row.padded
    .span8
      h3 Recent Posts
      - each post in posts
        .row
          .span8
            include includes/preview
    .span3.border-left
      include includes/contact


