extends layout



block content
  .row#intro
    .col-md-4
      img(src='/img/david2.jpg', class='img-responsive')
    .col-md-8.border-left
      p
        :markdown
          I am a [Computer Science Engineering](http://cse.eecs.umich.edu) Ph.D.
          student at the University of Michigan. I received a Bachelor's Degree
          in Computer Science Engineering with a [Mathematics
          Minor](http://www.math.lsa.umich.edu) from the University of Michigan
          in 2014. I work with [Professor J. Alex
          Halderman](https://jhalderm.com).
          
      p
        :markdown
          I am interested in computer security and privacy, as well as computer
          networks, distributed systems, and cryptography. I maintain
          [ZMap](https://zmap.io) and [ZGrab](https://github.com/zmap/zgrab),
          which I use for Internet-wide scanning.  Previously, I interned as a
          software engineer at [Duo Security](http://www.duosecurity.com), and
          worked for the [Computer-Aided Engineering
          Network](http://www.engin.umich.edu/caen/) in the networking
          department. During various semesters, I have been a teaching assistant
          for EECS 280: Introduction to Data Structures, EECS 281: Introduction
          to Algorithms, and EECS 588: Advanced Computer Security. In my spare
          time I also play drums, piano, [video
          games](http://www.lolking.net/summoner/na/26789205), and [drink
          beer](https://untappd.com/user/dadrian).

      p
        :markdown
          Before my undergraduate studies I attended Chelsea High School, in
          Chelsea, Michigan. While there, I spent a lot of time playing music
          in the band room, connecting unauthorized devices to the school's
          Novell Netware intranet, and bypassing network access restrictions.

      p
        :markdown
          I can be reached at [davadria@umich.edu](mailto:davadria@umich.edu),
          or [davidcadrian@gmail.com](mailto:davidcadrian@gmail.com).
  .row.padded
    .col-md-8
      .row
        h3 Recent Posts
      - each post in posts
        .row
          include includes/preview
    .col-md-3.col-md-offset-1.border-left
      include includes/contact
