doctype
html(lang="en")
  head
    title #{pageTitle}
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(href='http://fonts.googleapis.com/css?family=Julius+Sans+One', rel='stylesheet', type='text/css')
    link(href="http://fonts.googleapis.com/css?family=Ubuntu:400,400italic,bold", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Vollkorn", rel="stylesheet", type="text/css")

    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')

  body
    .container
      header
        include includes/header
      block content
      footer
        include includes/footer

    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.js')


