extends layout

block content
  h1 Projects
  p
    :markdown
      Currently I'm working on a few different things. As I put more time into this site, I'll put up better descriptions. For the time being, here's a quick list:
      
      1. Whisper and Shout
        - Ad-hoc, secure communication. See [Whispercomm](http://whispercomm.org) and [Shout.](http://whispercomm.org/shout)
        - This is a research project under [Professor Robert Dick](http://dickrp.org)
      2. A competitor to the [Collegiate Star League](http://cstarleague.com). Expect a launch early this summer.
      3. I'm starting to go through all the [Project Euler](http://projecteuler.net) problems, and solving them in a functional style using Python. See some of my solutions on [my github.](https://github.com/dadrian/project-euler)
      4. I'm learning Node.js, Express, and Javascript by way of this site.