extends layout

block content
  .row
    .col-md-10.col-md-offset-1
      h1.text-center Résumé
      .row
        .col-md-10.col-md-offset-1
          p
            :markdown
              I am a [Computer Science Engineering](http://cse.eecs.umich.edu)
              Ph.D. student at the University of Michigan. I work with
              [Professor J. Alex Halderman](https://jhalderm.com). My research
              interests center around computer security and privacy, as well as
              networks and systems.
          hr
      .row
        .col-md-2.col-md-offset-1
          b Education
        .col-md-8
          p
            b
              a(href="https://umich.edu") University of Michigan
            | , Ann Arbor, MI
            span.pull-right.resume-year Expected 2020
            br
            i Ph.D., Computer Science
          ul.degree-list
            li
              br
          p
            b
              a(href="https://umich.edu") University of Michigan
            | , Ann Arbor, MI
            span.pull-right.resume-year Expected 2016
            br
            i Master of Engineering, Computer Science
          ul.degree-list
            li
              br
          p
            b
              a(href="https://umich.edu") University of Michigan
            | , Ann Arbor, MI
            span.pull-right.resume-year Class of 2014
            br
            i Bachelor of Engineering, Computer Science
          ul.degree-list
            li Minor in Mathematics
            li Magna Cum Laude
            
            
      .row
        .col-md-2.col-md-offset-1
          b Conference Publications
        .col-md-8
          b
            a(href="https://jhalderm.com/pub/papers/mail-imc15.pdf")
              | Neither Snow Nor Rain Nor MITM&hellip; An Empirical Analysis of Mail Delivery Security
          span.pull-right
            | [<a href="/srv/papers/weakdh-ccs15.bib">bibtex</a>]
          ul.paper
            li
              | Zakir Durumeric, David Adrian, Ariana Mirian, James Kasten, 
              | Kurt Thomas, Vijay Eranti, Nicholas Lidzborski, Elie Bursztein,
              | Michael Bailey, and J. Alex Halderman
            li
              i
                | Proc. 15th ACM Internet Measurement Conference (IMC 15),
                | October 2015.
            li
              b IETF Applied Networking Research Prize.
      .row
        .col-md-2.col-md-offset-1
        .col-md-8
          b
            a(href="https://weakdh.org/imperfect-forward-secrecy.pdf")
              span(title="🌲🍯")
                | Imperfect Forward Secrecy: How Diffie-Hellman Fails in Practice
          span.pull-right
            | [<a href="/srv/papers/weakdh-ccs15.bib">bibtex</a>]
          ul.paper
            li
              | David Adrian, Karthikeyan Bhargavan, Zakir Durumeric,
              | Pierrick Gaudry, Matthew Green, J. Alex Halderman,
              | Nadia Heninger, Drew Springall, and Emmanuel Thomé, 
              | Luke Valenta, Benjamin VanderSloot, Eric Wustrow,
              | Santiago Zanella-Béguelin and Paul Zimmermann
            li
              i
                | Proc. 22nd ACM Conference on Computer and Communications Security
                | (CCS 15), October 2015.
            li
              b Best Paper Award.
      .row
        .col-md-2.col-md-offset-1
        .col-md-8
          b
            a(href="https://censys.io/static/censys.pdf")
              | A Search Engine Backed by Internet-Wide Scanning
          span.pull-right
            | [<a href="/srv/papers/zsearch-ccs15.bib">bibtex</a>]
          ul.paper
            li
              | Zakir Durumeric, David Adrian, Ariana Mirian, Michael Bailey,
              | and J. Alex Halderman
            li
              i
                | Proc. 22nd ACM Conference on Computer and Communications Security
                | (CCS 15), October 2015.
      .row
        .col-md-2.col-md-offset-1
        .col-md-8
          b
            a(href="/srv/papers/1am-mobihoc15.pdf")
              | Performance and Energy Consumption Analysis of a Delay-Tolerant
              | Network for Censorship-Resistant Communication
          span.pull-right
            | [<a href="/srv/papers/1am-mobihoc15.bib">bibtex</a>]
          ul.paper
            li
              | Yue Liu, David R. Bild, David Adrian, Gulshan Singh,
              | Robert P. Dick, Dan S. Wallach, and Z. Morley Mao
            li
              i
                | Proc. 16th ACM International Symposium on Mobile Ad Hoc Networking
                | and Computing<br />(MobiHoc 2015), June 2015.
      .row
        .col-md-2.col-md-offset-1
        .col-md-8
          b
            a(href="https://jhalderm.com/pub/papers/heartbleed-imc14.pdf")
              | The Matter of Heartbleed
          span.pull-right
            | [<a href="/srv/papers/heartbleed-imc14.bib">bibtex</a>]
          ul.paper
            li
              | Zakir Durumeric, Frank Li, James Kasten, Johanna Amann,
              | Jethro Beekman, Mathias Payer, Nicolas Weaver, David Adrian,
              | Vern Paxson, Michael Bailey, and J. Alex Halderman
            li
              i
                | Proc. 14th ACM Internet Measurement Conference
                | (IMC 14), November 2014.
            li
              b Best Paper Award.
      .row
        .col-md-2.col-md-offset-1
          b Workshop Publications
        .col-md-8
          b
            a(href="https://jhalderm.com/pub/papers/zmap10gig-woot14.pdf")
              | Zippier ZMap: Internet-Wide Scanning at 10 Gbps
          span.pull-right
            | [<a href="/srv/papers/zmap10gig-woot14.bib">bibtex</a>]
          ul.paper
            li David Adrian, Zakir Durumeric, Gulshan Singh, and J. Alex Halderman
            li
              i USENIX Workshop on Offensive Technologies (WOOT 14), August 2014
      .row
        .col-md-2.col-md-offset-1
          b Talks
        .col-md-8
          i Zippier ZMap: Internet-Wide Scanning at 10 Gbps
          ul.paper
            li  WOOT 2014. [<a href="/srv/talks/zmap10gig-woot14.pdf">pdf</a>]
      .row
        .col-md-2.col-md-offset-1
        .col-md-8
          i Were It So Easy: TLS in the Real World
          ul.paper
            li 
              | Duo Tech Talk, July 2015. [<a href="/srv/talks/wereitsoeasy-duo.pdf">pdf</a>]
              | [<a href="https://www.youtube.com/watch?v=Skp8g_xFqpA">YouTube</a>]
            li ARBSEC a2y.asm, September 2015. [<a href="/srv/talks/wereitsoeasy-a2y.pdf">pdf</a>]
      .row
        .col-md-2.col-md-offset-1
        .col-md-8
          i A Search Engine Backed by Internet-Wide Scanning
          ul.paper
            li CCS 2015. [<a href="/srv/talks/censys-ccs.pdf">pdf</a>]
      .row
        .col-md-2.col-md-offset-1
        .col-md-8
          i Imperfect Forward Secrecy
          ul.paper
            li 
              | Hushcon, December 2015. [<a href="/srv/talks/ifs-hushcon.pdf">pdf</a>]
      .row
        .col-md-2.col-md-offset-1
          b Relevant Experience
        .col-md-8
          p
            b
              a(href="https://duosecurity.com") Duo Security
            | , Ann Arbor, MI
            span.pull-right.resume-year Summer 2013
            br
            i Software Engineering Intern
          ul.resume-list
            li.
              Offered two-factor authentication-as-a-service, using mobile
              phones as the second authentication factor and push notications
              for login approval.
            li.
              Grew various Python backend subsystems to support new features;
              handled all bugs, feature requests, and security considerations
              for the Duo Unix client.
            li.
              Wrote a patch for OpenSSH to securely allow third-party
              authentication plugins
          p
            b
              a(href="http://whispercomm.org") Whisper Project
            | , University of Michigan
            span.pull-right.resume-year 2012 - 2013
            br
            i Undergraduate Research with Professor Robert Dick
          ul.resume-list
            li.
              Developed an Android framework (<a
              href="http://whispercomm.org/manes">MANES</a>) for testing
              feasibility, routing protocols, and location profile systems of
              large-scale mobile ad hoc networks that could be used for
              censorship-resistant communication.
            li.
              Built <a
              href="https://play.google.com/store/apps/details?id=org.whispercomm.shout&hl=en">Shout</a>,
              a user-friendly censorship-resistant communication Android
              application on top of MANES.
            li.
              Managed and led student software development teams.
            li.
              Resulted in a <a href="/srv/papers/1am.pdf">publication</a> at MobiHoc 2015.
          p
            b
              a(href="http://caen.engin.umich.edu/") CAEN
            | , University of Michigan College of Engineering
            span.pull-right.resume-year 2011 - 2012
            br
            i Network Technician
          ul.resume-list
            li.
              Maintained over 700 wireless access points for the College of
              Engineering campus.
            li.
              Transitioned printing system from CAEN control to campus-wide IT
              department.
            li.
              Diagnosed and performed network troubleshooting as needed.
      .row
        .col-md-2.col-md-offset-1
          b Teaching Experience
        .col-md-8
          p
            | EECS 388: Introduction to Computer Security
            span.pull-right.resume-year Fall 2015
            br
            i Graduate Student Instructor (GSI)
            ul.resume-list
              li.
                Undergraduate course on computer security
              li.
                Lead a weekly discussion section, and guest-lectured when the
                instructor was unavailable.
              li.
                Head GSI; organized other teaching assistants.
          p
            | EECS 588: Advanced Computer Security
            span.pull-right.resume-year Winter 2015
            br
            i Graduate Student Instructor (GSI)
            ul.resume-list
              li.
                Graduate course on computer security research.
              li.
                Guest-lectured when the instructor was unavailable, and
                continued the tradition of guest-lecturing on cryptography for
                the first class of the semester.
              li.
                Advised students on class research projects.
          p
            | EECS 281: Introduction to Algorithms
            span.pull-right.resume-year Winter 2014
            br
            i Instructional Aide (IA)
            ul.resume-list
              li.
                Introductory course on algorithms, taught in C++. Covered
                runtime complexity, sorts, trees, heaps, and basic search and
                graph algorithms.
              li.
                Held a weekly discussion section to reinforce concepts
                introduced in lecture.
              li.
                Held weekly office hours for help with concepts and projects.
          p
            | EECS 280: Programming and Data Structures
            span.pull-right.resume-year Fall 2013
            br
            i Instructional Aide (IA)
          ul.resume-list
            li.
              Introductory course on data structures, taught in C++. Covered
              recursion, pointers, structs and classes, inheritance and dynamic
              memory
            li.
              Held a weekly lab section where students coded examples based on
              content from the week's lectures.
            li.
              Held biweekly office hours for help with concepts and projects
      .row
        .col-md-2.col-md-offset-1
          b Leadership, Service, and Honors
        .col-md-8
          p
            | Eta Kappa Nu, <a href="https://hkn.eecs.umich.edu">
            | Beta Epsilon Chapter</a>
            span.pull-right.resume-year 2013 to Present
            br
            i Social Chair
          ul.resume-list
            li.
              Taught local high school and middle school students programming in
              Java and Android application development.
            li.
              Organized off-campus social events for HKN members and alumni.
      .row
        .col-md-2.col-md-offset-1
        .col-md-8
          p 
            | <a href="http://pwnies.com/">Pwnie Award</a>
            span.pull-right.resume-year BlackHat 2015
            br
            i Most Innovative Research
          ul.resume-list
            li Awarded for Imperfect Forward Secrecy (Logjam).      
      .row
        .col-md-2.col-md-offset-1
        .col-md-8
          p 
            | Best Paper Award
            ul.resume-list
              li
                i 14th ACM Internet Measurement Conference (IMC 14)
                span.pull-right.resume-year November 2014
              ul
                li Awarded for "The Matter of Heartbleed"
              li
                i 
                  | 22nd ACM Conference on Computer and Communications Security
                  | (CCS 15)
                span.pull-right.resume-year October 2015
              ul
                li Awarded for "Imperfect Forward Secrecy"
      .row
        .col-md-2.col-md-offset-1
        .col-md-8
          p
            | IETF Applied Networking Research Prize (ANRP)
            span.pull-right.resume-year December 2015
            ul.resume-list
              li 
                | Awarded for "Neither Snow Nor Rain Nor MITM&hellip;"
      .row
        .col-md-2.col-md-offset-1
        .col-md-8
          p
            | Erdos Number: 3
          ul.resume-list
            li David Adrian &ndash; Paul Zimmerman &ndash; Peter Montgomery &ndash; Paul Erdos
      .row
        .col-md-2.col-md-offset-1
          b Computer Skills
        .col-md-8
          p
            i Programming Languages
          ul.resume-list
            li.
              C, Python, Go, C++, Java, Javascript, PHP, HTML/CSS, Latex,
              Haskell
          p
            i Platforms and Frameworks
          ul.resume-list
            li.
              Unix Kernel API, Android, Node.js, React, Parse,
              Tornado/Cyclone/Twisted, Celery, Unity3D, OpenGL, Matlab
          p
            i Databases
          ul.resume-list
            li MySQL, RocksDB, MongoDB, Redis, Voldemort, neo4j

      .row
        hr
        p.text-center.
          [<a href="/srv/resume.pdf">PDF</a>]
