hr
p 
  :markdown
    © David Adrian 2013. Built with [Express.js](http://expressjs.com) on top
    of [Node.js](http://nodejs.org), with
    [Poet](http://jsantell.github.com/poet/) for blogging. Design based
    off of [Twitter Bootstrap](http://getbootstrap.com).

