.navbar
  a(class='brand') 
    h1 
      i david adrian
  ul(class='nav nav-pills pull-right', style='font-style: italic;')
    li() 
      a(href='/') home
    li()
      a(href='/srv/resume.pdf') resume
    li() 
      a(href='/projects') projects
    li()
      a(href='/blog/') blog