.david-brand {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-size: 42px;
}

.resume-year {
  font-style: italic;
}

#intro {
  border-bottom: 1px solid #DDDDDD;
  border-top: 1px solid #DDDDDD;
  padding-top: 20px;
  padding-bottom: 20px;
}

ul.degree-list {
  margin-top: -10px;
  list-style-type: none;
}

ul.resume-list {
  margin-top: -10px;
}

ul.paper {
  list-style-type: none;
}

li.indent {
  text-indent
}

.padded {
  padding-top: 20px;
  padding-bottom: 20px;
}

.border-left {
  border-left: 1px solid #DDDDDD;
}

.border-right {
  border-right: 1px solid #DDDDDD;
}

hr {
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Vollkorn', Helvetica, Arial, sans-serif;
    font-weight: normal;
}

body {
    background: url(/img/cream_dust.png) repeat 0 0;
    font-family: 'Vollkorn', Georgia, Times, serif;
}
