<div class="dad-margin-bottom">
  {{ if and (.Get "title") (.Get "link") }}
    <h4><a href="{{ .Get "link"}}">{{ .Get "title" }}</a> {{ with .Get "subtitle" }}{{ . }}{{ end }}</h4>
  {{ else }}
    <h4>{{ .Get "title" }} {{ with .Get "subtitle" }}{{ . }}{{ end }}</h4>
  {{ end }}
  <p>
  {{ with .Get "label" }}
  {{ . | safeHTML }}
  {{ end }}
  {{ with .Get "when" }}
  <i>{{ . | safeHTML }}</i>
  {{ end }}
  </p>
  {{ if .Inner }}
  <div class="{{ .Get "class" }}">
    {{ .Inner | markdownify}}
  </div>
  {{ end }}
</div>
