<div class="pure-u-1 pure-u-md-1-8">
  {{ with .Get "section" }}
  <b>{{ . }}</b>
  {{ end }}
</div>
<div class="pure-u-1 pure-u-md-3-4">
  <b><a href="{{ .Get "link" }}">{{ .Get "name" }}</a></b>
  <br />
  {{ .Get "authors" }}
  <br />
  {{ with .Get "conference" }}
  <i>{{ . }}</i>
  {{ end }}
  {{ with .Get "award" }}
  <br />
  <b>{{ . }}</b>
  {{ end }}
</div>
<div class="pure-u-1 pure-u-md-1-8">
    {{ with .Get "bibtex" }}
    [<a href="{{ printf "srv/bib/%s" . | absURL }}">bibtex</a>]
    {{ end }}
</div>
