<tr>
<td>
  {{ with .Get "section" }}
  <b>{{ . }}</b>
  {{ end }}
</td>
<td>
  {{ .Get "name" }}
  <br />
  {{ with .Get "conference" }}
  <i>{{ . }}</i>
  {{ end }}
  {{ with .Get "pdf" }}
  [<a href="{{ printf "srv/talks/%s" . | absURL }}">pdf</a>]
  {{ end }}
  {{ with .Get "key" }}
  [<a href="{{ printf "srv/talks/%s" . | absURL }}">key</a>]
  {{ end }}
  {{ with .Get "pptx" }}
  [<a href="{{ printf "srv/talks/%s" . | absURL }}">pptx</a>]
  {{ end }}
  {{ with .Get "gdrive" }}
  [<a href="{{ . }}">Google Drive</a>]
  {{ end }}
  {{ with .Get "youtube" }}
  [<a href="{{ . }}">YouTube</a>]
  {{ end }}


  {{ with .Get "conference2" }}
  <br />
  <i>{{ . }}</i>
  {{ end }}

  {{ with .Get "pdf2" }}
  [<a href="{{ printf "srv/talks/%s" . | absURL }}">pdf</a>]
  {{ end }}
  {{ with .Get "key2" }}
  [<a href="{{ printf "srv/talks/%s" . | absURL }}">key</a>]
  {{ end }}
  {{ with .Get "pptx2" }}
  [<a href="{{ printf "srv/talks/%s" . | absURL }}">pptx</a>]
  {{ end }}
  {{ with .Get "youtube2" }}
  [<a href="{{ . }}">YouTube</a>]
  {{ end }}
</td>
<td>
</td>
</tr>
